body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 14px;
    user-select: none;
}

.title {
    font-weight: bold;
}

.tab, .button {
    border: 1px outset #CCC;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.tab {
    border-width: 2px;
}

.button {
    font-weight: bold;
}

.button:hover, .tab:hover {
    filter: opacity(60%);
}

.button:active, .tab:active {
    filter: opacity(30%);
}

.checked {
    border-style: inset;
    border-color: #C33;
}

input, textarea, select {
    font-size: 15px;
}

input, textarea {
    padding: 5px;
    resize: none;
}

textarea {
    height: 200px;
    word-break: break-word;
}

option:checked {
    font-weight: bold;
    color: #F00;
}
