body {
    margin-left: calc((100% - 430px) / 2);
    width: 430px;
}

.container {
    margin-left: 10px;
}

.container:nth-child(n+2) {
    margin-top: 15px;
}

input, textarea {
    width: 390px;
}

select {
    padding: 5px 2px;
}

#jsonrpc, #token {
    width: 340px;
}

#useragent {
    height: 55px;
}

#sizeEntry {
    width: 335px;
}
