body {
    position: absolute;
    left: calc((100% - 600px) / 2);
    width: 600px;
}

.container {
    padding: 10px;
}

.title {
    font-size: 20px;
}

#menuTab {
    font-size: 20px;
}

input, textarea {
    width: 350px;
}

select {
    font-size: 16px;
    padding: 4px 0px 5px 3px;
}

#useragent {
    height: 52px;
}

#sizeEntry {
    width: 295px;
}
