body {
    position: absolute;
    left: calc((100% - 600px) / 2);
    width: 600px;
}

#menuTab {
    font-size: 20px;
}

.container {
    padding: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

input, textarea {
    width: 350px;
}

#useragent {
    height: 52px;
}

#capture, #folder {
    font-size: 20px;
}

#sizeEntry {
    width: 300px;
}

#sizeUnit {
    padding: 6px 0px 5px;
}
