body {
    width: 400px;
}

.menuContainer {
    height: 20px;
}

#taskManager {
    position: absolute;
    top: 8px;
    right: 8px;
}

#aboutExtension {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

#newTaskWindow {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 0px;
    height: 395px;
}

input, textarea {
    width: 380px;
}

textarea {
    height: 195px;
}

#setProxy {
    width: 14px;
    transform: scale(1.25);
}

#newTaskMenu {
    text-align: center;
}

.taskQueue {
    height: 400px;
    overflow-y: scroll;
}

.taskQueue .button {
    font-size: 10px;
    padding: 1px;
}

.status {
    color: #FFF;
    padding: 3px;
}

.title {
    font-weight: bold;
    word-break: break-word;
}

.taskInfo {
    width: 380px;
}

#taskDetails {
    background-color: #FFF;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    width: 400px;
    height: 440px;
}

#taskName div {
    height: 40px;
    overflow-y: hidden;
}

#taskOption {
    border: 1px inset #CCC;
    margin-top: 5px;
    height: 100px;
    overflow-y: scroll;
}

#taskFiles {
    border: 1px outset #CCC;
    margin-top: 5px;
    height: 285px;
    overflow-y: scroll;
}

#taskFiles td {
    border: 1px inset #CCC;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

#taskFiles td:nth-child(1) {
    width: 20px;
}

#taskFiles td:nth-child(2) {
    text-align: left;
}

#taskFiles td:nth-child(3) {
    width: 70px;
}

#taskFiles td:nth-child(4) {
    width: 50px;
}

.progress {
    color: #FFF;
    height: 20px;
    text-align: center;
}

.progress span {
    display: block;
    height: 20px;
}

.progress:active, .progress:active span {
    filter: contrast(25%);
}

.active_bar, .paused_bar, .download {
    background-color: #3CC;
}

.removed_bar, .error_bar, .stopped {
    background-color: #CCC;
}

.active {
    background-color: #33C;
}

.paused {
    background-color: #CC3;
}

.error {
    background-color: #C33;
}

.complete {
    background-color: #3C3;
}

.removed, .upload {
    background-color: #C3C;
}

.complete_info {
    display: none;
}
