body {
    width: 400px;
}

.menuContainer {
    height: 20px;
}

#taskManager {
    position: absolute;
    top: 8px;
    right: 8px;
}

#queueTabs span:nth-child(2n+1) {
    padding: 4px;
}

#networkBandwidth span:nth-child(2n+1) {
    padding: 5px;
}

#networkStatus {
    padding: 3px;
}

#queueTabs span:nth-child(2n), #networkBandwidth span:nth-child(2n) {
    margin-right: 10px;
}

#aboutExtension {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

#newTaskWindow {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 0px;
    height: 395px;
}

input, textarea {
    width: 380px;
}

textarea {
    height: 195px;
}

#setProxy {
    width: 14px;
    transform: scale(1.25);
}

#newTaskMenu {
    text-align: center;
}

.taskQueue {
    height: 400px;
    overflow-y: auto;
}

.taskInfo {
    border: 1px outset #CCC;
    padding: 5px;
}

.taskInfo:nth-child(n+2) {
    margin-top: 5px;
}

.taskBody {
    width: calc(100% - 20px);
}

.taskBody, .taskMenu, .taskBody span, .taskMenu span {
    display: inline-block;
}

.taskBody span:nth-child(2n) {
    margin: 0px 25px 0px 5px;
}

.taskMenu {
    vertical-align: top;
    width: 20px;
}

.taskMenu .button {
    font-size: 10px;
    padding: 1px;
    width: 14px;
    text-align: center;
}

#taskDetails {
    background-color: #FFF;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    width: 400px;
    height: 445px;
}

#taskName div {
    width: 390px;
    height: 40px;
    overflow-y: hidden;
}

#taskDetails > div:nth-child(n+2) {
    border: 1px inset #CCC;
    margin-top: 5px;
    overflow-y: auto;
}

#taskOption {
    height: 100px;
}

#taskFiles {
    height: 280px;
}

#taskFiles td {
    border: 1px inset #CCC;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

#taskFiles td:nth-child(1) {
    width: 20px;
}

#taskFiles td:nth-child(2) {
    text-align: left;
}

#taskFiles td:nth-child(3) {
    width: 70px;
}

#taskFiles td:nth-child(4) {
    width: 50px;
}

.fancybar {
    height: 20px;
    text-align: center;
}

.fancybar span {
    display: block;
    height: 20px;
}

.fancybar:active, .fancybar:active span {
    filter: opacity(30%);
}

.activeBar, .pausedBar, .download {
    background-color: #3CC;
}

.removedBar, .errorBar, .stopped {
    background-color: #CCC;
}

.active {
    background-color: #33C;
}

.paused {
    background-color: #CC3;
}

.error {
    background-color: #C33;
}

.complete {
    background-color: #3C3;
}

.removed, .upload {
    background-color: #C3C;
}

.stopped, .active, .paused, .error, .complete, .removed, .download, .upload {
    color: #FFF;
}
