body {
    width: 440px;
}

input, textarea {
    width: calc(100% - 15px);
}

#queueTabs .tab {
    padding: 4px;
}

#queueTabs span:nth-child(2n), #networkBandwidth span:nth-child(2n) {
    margin-right: 10px;
}

#networkBandwidth span:nth-child(2n+1) {
    padding: 5px;
}

#networkStatus {
    padding: 3px;
}

#menuTop, #menuBottom, #optionsWindow, #newTaskWindow, #taskDetails {
    background-color: #FFF;
    border: none;
    position: absolute;
}

#menuTop, #menuBottom {
    width: calc(100% - 16px);
    height: 0px;
    text-align: right;
}

#optionsWindow {
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - 40px);
}

#newTaskWindow, #taskDetails {
    padding: 10px;
    left: 0px;
    width: calc(100% - 20px);
}

#newTaskWindow {
    top: 40px;
    height: calc(100% - 100px);
}

#newTaskWindow > div:nth-child(n+2) {
    margin-top: 10px;
}

#taskBatch {
    height: 200px;
}

#setProxy {
    width: 15px;
    transform: scale(1.3);
}

#newTaskMenu {
    text-align: center;
}

#taskDetails {
    top: 0px;
    padding: 3px 10px;
    height: calc(100% - 45px);
}

#taskName div {
    height: 45px;
    overflow-y: hidden;
    word-break: break-word;
}

#taskDetails > div:nth-child(n+2) {
    margin-top: 10px;
}

#taskOption > div:nth-child(-n+2) {
    display: inline-block;
    width: calc((100% - 15px) / 2);
}

#taskOption > div:nth-child(2) {
    margin-left: 10px;
}

#taskOption > div:nth-child(-n+2) input {
    width: calc(100% - 15px);
}

#taskOption > div:nth-child(n+3) {
    margin-top: 5px;
}

#taskFiles {
    height: calc(100% - 176px);
    overflow-y: auto;
}

#taskFiles table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#taskFiles td {
    border: 1px outset #CCC;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

#taskFiles tr:active {
    filter: opacity(60%);
}

#taskFiles td:nth-child(1) {
    width: 20px;
}

#taskFiles td:nth-child(2) {
    text-align: left;
    width: calc(100% - 140px);
    word-break: break-word;
}

#taskFiles td:nth-child(3) {
    width: 70px;
}

#taskFiles td:nth-child(4) {
    width: 50px;
}

.taskQueue {
    height: 410px;
    overflow-y: auto;
}

.taskInfo {
    border: 1px outset #CCC;
    padding: 5px;
}

.taskInfo:nth-child(n+2) {
    margin-top: 5px;
}

.taskBody {
    width: calc(100% - 20px);
}

.taskBody .title {
    word-break: break-word;
}

.taskBody, .taskMenu, .taskBody span, .taskMenu span {
    display: inline-block;
}

.taskBody span {
    width: calc(100% / 3);
}

.taskMenu {
    vertical-align: top;
    width: 20px;
}

.taskMenu .button {
    font-size: 12px;
    padding: 1px;
}

.fancybar span {
    text-align: center;
    display: block;
}

.fancybar:active {
    filter: opacity(30%);
}

.activeBar, .pausedBar, .download {
    background-color: #3CC;
}

.removedBar, .errorBar, .stopped {
    background-color: #CCC;
}

.active {
    background-color: #33C;
}

.waiting, .paused {
    background-color: #CC3;
}

.error {
    background-color: #C33;
}

.complete {
    background-color: #3C3;
}

.removed, .upload {
    background-color: #C3C;
}

.stopped, .active, .waiting, .paused, .error, .complete, .removed, .download, .upload {
    color: #FFF;
}
