body {
    margin: 0px;
}

#taskBody, #taskBody span, #taskMenu, #taskMenu span {
    display: inline-block;
}

#taskBody {
    width: calc(100% - 25px);
}

#taskName {
    word-break: break-word;
}

#taskBody span:nth-child(2n+1) {
    width: calc((100% / 3) - 30px);
}

#taskMenu {
    vertical-align: top;
    width: 20px;
}

.button {
    font-size: 12px;
    padding: 1px;
    width: 16px;
    height: 16px;
}

#meter_btn {
    text-align: center;
}

#meter_btn:active {
    filter: opacity(30%);
}
