<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/components/common.css">
        <link rel="stylesheet" href="/components/meter.css">
        <link rel="stylesheet" href="css.css">
    </head>
    <body>
        <div id="taskBody">
            <div id="taskName" class="title"></div>
            <span>🖥️</span>
            <span id="completed"></span>
            <span>⏲️</span>
            <span id="estimate"></span>
            <span>📦</span>
            <span id="total"></span>
            <span>📶</span>
            <span id="connect"></span>
            <span>⏬</span>
            <span id="download"></span>
            <span>⏫</span>
            <span id="upload"></span>
        </div>
        <div id="taskMenu">
            <span id="remove_btn" class="button">❌</span>
            <span id="invest_btn" class="button">🔍</span>
            <span id="retry_btn" class="button">♻️</span>
        </div>
        <div id="meter_btn">
             <div id="meter"></div>
        </div>
    </body>
    <script src="/components/common.js"></script>
    <script src="js.js"></script>
</html>
