.activeBar, .pausedBar, .download {
    background-color: #3CC;
}

.removedBar, .errorBar, .stopped {
    background-color: #CCC;
}

.active {
    background-color: #33C;
}

.waiting, .paused {
    background-color: #CC3;
}

.error {
    background-color: #C33;
}

.complete {
    background-color: #3C3;
}

.removed, .upload {
    background-color: #C3C;
}

.stopped, .active, .waiting, .paused, .error, .complete, .removed, .download, .upload {
    color: #FFF;
}
