.active {
    background-color: #33C;
}

.waiting, .paused {
    background-color: #CC3;
}

.complete {
    background-color: #3C3;
}

.error {
    background-color: #C33;
}

.removed {
    background-color: #C3C;
}

.active, .waiting, .paused, .error, .complete, .removed {
    color: #FFF;
}
