body {
    width: 440px;
}

body > div:nth-child(n+2) {
    margin-top: 10px;
}

#taskBatch {
    height: 180px;
}

#setProxy {
    width: 15px;
    transform: scale(1.3);
}

#newTaskMenu {
    text-align: center;
}
