body {
    width: 440px;
}

input, textarea {
    width: calc(100% - 15px);
}

#menuTop, #menuBottom {
    height: 0px;
    text-align: right;
}

#queueTabs span:nth-child(2n), #networkBandwidth span:nth-child(2n) {
    margin-right: 10px;
}

#networkStatus {
    padding: 3px;
}

#networkBandwidth span:nth-child(2n+1) {
    padding: 5px;
}

#optionsWindow, #newTaskWindow, #taskMgrWindow {
    position: absolute;
    width: 100%;
    left: 0px;
}

#optionsWindow {
    top: 0px;
    height: calc(100% - 40px);
}

#taskMgrWindow {
    top: -5px;
    height: calc(100% - 35px);
}

#newTaskWindow {
    top: 40px;
    height: calc(100% - 80px);
}

#taskQueue {
    height: 410px;
    overflow-y: auto;
}

#taskQueue div:nth-child(n+2) {
    margin-top: 5px;
}

.taskInfo {
    border: 1px outset #CCC;
    padding: 5px;
}

.taskBody {
    width: calc(100% - 20px);
}

.taskBody, .taskMenu, .taskBody span, .taskMenu span {
    display: inline-block;
}

.taskBody span {
    width: calc(100% / 3);
}

.taskMenu {
    vertical-align: top;
    width: 20px;
}

.taskMenu .button {
    font-size: 12px;
    padding: 1px;
    width: 16px;
    height: 16px;
}

#fancybar {
    text-align: center;
}

#fancybar:active {
    filter: opacity(30%);
}
